/**
======================================
BANNER MAIN CSS
======================================
**/
.banner {
  background-image: url("https://cms.kaagent.be/uploads/articles/image/ticketverkoop-po1-20190404145359.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner a:hover {
  border: 2px solid white;
  -webkit-transition: all ease-in .3s;
  -moz-transition: all ease-in .3s;
  -ms-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

.banner a.btn-primary {
  background-color: #0b2d61;
  border: none;
}

.banner a:hover {
  background-color: white;
  color: #0b2d61;
  -webkit-transition: all ease-in .3s;
  -moz-transition: all ease-in .3s;
  -ms-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
}
