<div class="banner container-fluid py-5">
  <div class="row justify-content-center">
    <div class="col-12 py-3 text-center">
      <h3 class="text-uppercase">Get your season ticket now!</h3>
      <a href="#" class="btn btn-primary btn-lg mt-3 p-3 text-uppercase">Buy now</a>
    </div><!-- Col 12 -->
  </div><!-- .row -->
</div><!-- .container -->
