<!-- Start Main slider for Homepage -->

<div id="slider" class="carousel slide d-none d-md-block" data-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let article of articles; let i = index" [ngClass]="{'active': i == 0}" class="carousel-item">
      <img [src]="sanitizer.bypassSecurityTrustResourceUrl(article.headerImage)" class="w-100 d-block">
      <div class="carousel-caption d-md-block d-none">
        <h2><a data-toggle="modal" attr.data-target="#exampleModal-{{ i }}">{{ article.title }}</a></h2>
      </div><!-- .carousel-caption -->
    </div><!-- .carousel-item -->
  </div><!-- .carousel-inner -->
</div><!-- #slider -->

<a href="#slider" class="carousel-control-prev" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a href="#slider" class="carousel-control-next" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>

<!-- End Main Slider for Homepage -->

<!-- Start Article Pop-up (image of main slider clicked) -->

<div *ngFor="let article of articles; let j = index" class="modal fade" attr.id="exampleModal-{{ j }}" tabindex="-1"
     role="dialog" attr.aria-labelledby="exampleModalLabel-{{ j }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="article">
    <div class="modal-content text-center">

      <div class="modal-header text-uppercase">
        <h3 class="modal-title w-100" attr.id="exampleModalLabel-{{ j }}">{{ article.contentTitle }}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-light">&times;</span>
        </button>
      </div>

      <div data-simplebar class="modal-body p-5">
        <div class="content" [innerHTML]="article.content"></div>
        <br>
        <!--<div class="embed-responsive embed-responsive-16by9">-->
          <!--<iframe class="mb-3 embed-responsive-item" *ngIf="!article.video == ''" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" [src]="sanitizer.bypassSecurityTrustResourceUrl(article.video)" allowfullscreen></iframe>-->
        <!--</div>-->
        <br>


        <!-- Start Image gallery inside Pop-up -->

        <div class="container">
          <div class="row">

            <div class="col-md-3 mb-3" *ngFor="let images of article.imagePaths; let k = index">
              <a attr.data-target="#image-{{ k }}" data-toggle="modal"><img class="img-fluid"
                                                                            [src]="sanitizer.bypassSecurityTrustResourceUrl(images)"
                                                                            alt=""></a>
            </div>

          </div>
          <div class="row">

            <div class="col-md-6" *ngFor="let images of article.imagePaths; let l = index">
              <div class="modal fade" attr.id="image-{{ l }}" tabindex="-1" role="dialog"
                   attr.aria-labelledby="image-{{ l }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <img [src]="sanitizer.bypassSecurityTrustResourceUrl(images)" class="img-fluid">
                    </div><!-- modal-body -->
                  </div><!-- modal-content -->
                </div><!-- modal-dialog -->
              </div><!-- modal -->
            </div><!-- .col-md-6 -->

          </div><!-- .row -->
        </div><!-- .container -->

        <!-- End Image gallery inside Pop-up -->


      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->

<!-- End Article Pop-up -->
<app-news-items></app-news-items>
<app-twitter-reactions></app-twitter-reactions>
