/**
======================================
HOME MAIN CSS
======================================
**/

::-webkit-scrollbar {
  display: none;
}

/**
======================================
SLIDER CAROUSEL (NEW ARTICLES)
======================================
**/

#slider .carousel-item a {
  font-family: 'Sunflower', sans-serif;
  font-weight: 500;
  font-size: 5rem;
  color: #ffffff;
  text-shadow: 1px 1px #0b2d61;
}

#slider .carousel-item a:hover:after {
  font-family: FontAwesome;
  content: '\f04e';
  font-size: 4rem;
}

#slider .carousel-item a:hover {
  text-decoration: none;
}

#slider .carousel-control-prev,
#slider .carousel-control-next {
  z-index: 99;
}


/**
======================================
MODAL ARTICLE
======================================
**/

.modal-footer, .modal-header {
  border: none;
}

.modal-title {
  text-decoration: underline white;
}

.modal-body {
  font-family: 'Sunflower', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.modal-content {
  background-color: #0b2d61;
  color: white;
}

.modal-content h3 {
  font-size: 2rem;
}

.modal-content p {
  font-size: 1.5rem;
}


/**
======================================
MEDIA QUERIES
======================================
**/

@media (max-width: 1280px) {
  #slider .carousel-item a {
    font-size: 3rem;
  }

  #slider .carousel-item a:hover:after {
    font-size: 3rem;
  }
}






