<section class="mb-3">

  <h3 class="mb-5 text-center text-uppercase">Staff</h3>
  <div class="container-fluid w-75">
    <div class="row d-inline-flex">

      <div *ngFor="let member of staff; let i = index;"
           class="col-lg-3 col-md-4 col-sm-6 article-card text-decoration-none">
        <div class="card mb-4 text-center text-uppercase border-0">
          <img [src]="sanitizer.bypassSecurityTrustResourceUrl(member.image)" class="img-fluid card-img-top mb-3">
          <div class="card-block">
            <h3 class="card-title my-3">{{ member.name }}</h3>
            <p><span class="func">{{ member.func }}</span></p>
          </div>
        </div> <!-- .card -->
      </div><!-- col 6 col-md-3 -->

    </div>
  </div>

</section>
