<div class="container-fluid bg-header"></div>

<div class="container-fluid my-5 text-uppercase">
  <div class="row">
    <div class="col-lg-2 justify-content-sm-center">

      <aside class="p-4">
        <h3 class="text-light text-center">Menu</h3>

        <ul class="nav flex-column mt-5">
          <li class="nav-item">
            <a routerLink="add_player" routerLinkActive="active"
               [ngClass]="{ active: currentRoute == '/admin/add_player' }"
               class="nav-link d-flex text-light align-items-center">
              Add Player
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="staff" routerLinkActive="active" [ngClass]="{ active: currentRoute == '/admin/staff' }"
               class="nav-link d-flex text-light align-items-center">
              Add Staff
            </a>
          </li>
        </ul>
      </aside>

    </div>

    <div class="col-lg-2 col-md-4"></div>

    <div class="col-lg-6 justify-content-center justify-content-md-end">
      <h2 *ngIf="checkCurrentRoute() == '/admin'" class="text-center mt-5 mt-md-0 mb-3">Welcome to the Admin Page</h2>
      <app-admin-add-player *ngIf="checkCurrentRoute() == '/admin/add_player'"></app-admin-add-player>
      <app-admin-add-staff *ngIf="checkCurrentRoute() == '/admin/staff'"></app-admin-add-staff>
    </div>

    <div class="col-lg-2 col-md-0"></div>
  </div>
</div>
