/**
======================================
BACKGROUND CSS
======================================
**/

.bg-header {
  background-color: #0b2d61;
  height: 12rem;
}

@media (max-width: 768px) {
  .bg-header {
    height: 0rem;
  }
}


/**
======================================
ADMIN MAIN CSS
======================================
**/
.container-fluid {
  color: #0b2d61;
}


/**
======================================
ASIDE CSS
======================================
**/

aside {
  width: 250px;
  z-index: 900;
  background-color: #0b2d61;
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
}

.active {
  background-color: #03a9f4;
  border-radius: 5px;
  color: white!important;
}




.nav-item:hover {
  background-color: #03a9f4;
  border-radius: 5px;
}

.nav .nav-item:hover a {
  color: white!important;
}


