body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    font-weight: 900;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

.bg-light {
    background-color: #ffffff!important;
}

.header {
    height: 40rem;
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.site-name {
    font-weight: 300;
    font-size: 1.8rem;
}

.site-name span {
    font-weight: 900;
}

@media (min-width: 768px) {
    .site-name {
        font-size: 2.4rem;
    }
}

.nav-link {
    color: #ffffff;
}

@media (min-width: 992px) {
    .header .nav-link:first-child::before {
        display: none;
    }

    .header .nav-link::before {
        content: '|';
        margin-right: 2rem;
    }
}

.phone::before {
    content: '';
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-image: url("../img/phone_icon.png");
    background-repeat: no-repeat;
    margin-right: 1rem;
    background-position: center center;
}


/** About Us **/

.about-us-bg {
    background-image: url("../img/about_us.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
    min-height: 44rem;
}

@media (min-width: 768px) {
    .about-us-bg {
        min-height: 36rem;
    }
}


/** Models **/

.model {
    background-repeat: no-repeat;
    min-height: 40rem;
}

@media (min-width: 768px) {
    .model {
        min-height: 30rem;
    }
}

.basic {
    background-image: url("../img/home_basic.jpg");
    background-position: bottom right;
}

@media (min-width: 768px) {
    .basic {
        background-position: bottom right;
    }
}

.premier {
    background-image: url("../img/home_premier.jpg");
    background-position: 40% 100%;
}

@media (min-width: 768px) {
    .premier {
        background-position: top left;
    }
}

.elite {
    background-image: url("../img/home_elite.jpg");
    background-position: 70% 270%;
}

@media (min-width: 768px) {
    .elite {
        background-position: bottom right;
    }
}


/** Footer **/

.footer {
    height: 30rem;
    background-image: url("../img/footer_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-dark {
    background-color: #111111!important;
}