:root {
    --primary: #f46669;
    --secondary: #c7c57d;
    --gray: #f5f5f5;
    --dark-gray: #303030;
}
body {
    font-family: 'Roboto', sans-serif;
    color:#303030;
}

.nav-link {
    color: black;
    text-transform: uppercase;
}

p {
    font-weight: 100;
    line-height: 3.4rem;
    font-size: 1.2rem;
}

.image > div {
    height: 30rem;
}

@media (min-width: 768px) {
    .image > div {
        height: 45rem;
    }
}

.bg-primary {
    background-color: #f46669!important;
}

.bg-secondary {
    background-color: #c7c57d!important;
}

.top .content {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.top .content p,
.top .content h2 {
    line-height: 2rem;
}

.bottom .content {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.bottom .content p,
.bottom .content h2 {
    color: black;
    line-height: 2rem;
}

.bg-wine {
    background-image: url("../img/main1.jpg");
    background-size: cover;
    background-position: top center;
}

.bg-food {
    background-image: url("../img/main2.jpg");
    background-size: cover;
    background-position: top center;
}

.bottom .bg-food {
    order: 1;
}

@media (min-width: 768px) {
    .bottom .bg-food {
        order: unset;
    }
}


/** About Us **/

.about-us h3 {
    font-size: 1.6rem;
    font-weight: 300;
}

.seperator::after {
    content: '';
    display: block;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    background-image: url("../img/separator.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.courses {
    background-color: #f5f5f5;
}

.card {
    margin-bottom: 3rem;
}

.badge-secondary {
    background-color: #c7c57d!important;
    color: black;
}

.card-subtitle {
    color: #f46669;
    font-weight: 400;
}

.card-body p {
    font-size: 1rem;
    line-height: 2rem;
    margin: auto;
}

.card-body a {
    color: #f46669;
}

.degree {
    background-image: url("../img/chef_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.degree .row {
    height: 38rem
}

.degree .content h2 {
    font-weight: 900;
    font-size: 2.4rem;
}

.degree .content p {
    font-size: 1.8rem;
    line-height: 3rem;
}

.degree .content .btn {
    background-color: #f46669;
    border-color: #f46669;
}

.degree .content .btn:hover {
    background-color: #f44643;
    border-color: #f44643;
}

.copyright {
    font-weight: 700;
    font-size: 1rem;
    line-height: 2.5rem;
}

.footer {
    border-bottom: .8rem solid #f46669;
}