<div class="container">
<div class="row">
  <div class="col-xs-12">
    <h1>Assingment 1 of Section 2 - Adding components</h1>
    <hr>
    <!--<app-servers></app-servers>-->
    <div app-success-cli></div>
  </div>
</div>
</div>
