/**
======================================
SOCIAL MEDIA LINKS
======================================
**/

/*.fas {*/
  /*font-size: 2rem;*/
  /*color: #ffffff;*/
/*}*/

/*#facebook::before {*/
  /*font-family: FontAwesome;*/
  /*content: '\f082';*/
/*}*/

/*#twitter:before {*/
  /*font-family: FontAwesome;*/
  /*content: '\f081';*/
/*}*/

/*#instagram:before {*/
  /*font-family: FontAwesome;*/
  /*content: '\f16d';*/
/*}*/

.socials a:hover {
  opacity: 0.8;
  -webkit-transition: all ease-in .5s;
  -moz-transition: all ease-in .5s;
  -ms-transition: all ease-in .5s;
  -o-transition: all ease-in .5s;
  transition: all ease-in .5s;
}

.socials a {
  font-size: 3rem;
  color: white;
}


/**
======================================
HOME ASIDE MAIN CSS
======================================
**/

aside {
  font-weight: 900;
  background-color: #0b2d61;
  width: 25rem;
  border-radius: 5px;
}

aside h3 {
  font-family: 'Chivo', sans-serif;
  font-weight: 700;
}

aside h3:hover {
  opacity: 0.8;
}


/**
======================================
TABLE PLAY OFFS
======================================
**/

.table {
  color: white!important;
  width: 10%;
}

#standings table {
  font-size: 1rem;
}

.highlight {
  background-color: white;
  color: #0b2d61;
}


/**
======================================
LAST GAME SECTION
======================================
**/

#last-game p {
  font-size: 2rem;
}

figcaption {
  font-size: 1rem;
}


/**
======================================
GAME REACTIONS (CAROUSEL)
======================================
**/

.carousel-item p {
  font-size: 1rem!important;
}
