<aside class="text-uppercase text-light text-center py-5">
  <div class="container">

    <h3 class="mb-3">Socials</h3>
    <div class="row">
      <div class="socials col mb-3">
        <a class="mr-2" href="https://www.facebook.com/kaagent" id="facebook"><i class="fab fa-facebook-square"></i></a>
        <a class="mr-2" href="https://twitter.com/kaagent" id="twitter"><i class="fab fa-twitter-square"></i></a>
        <a class="mr-2" href="https://www.instagram.com/kaagent/" id="instagram"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

    <h3 class="mb-3">Standings</h3>
    <div class="row">
      <div id="standings" class="col">
        <table class="table text-light">
          <thead>
          <tr>
            <th>Standings</th>
            <th></th>
            <th>Team</th>
            <th>M</th>
            <th>PTN</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/krc-genk-20160908145158.png"
                     alt=""></td>
            <td>KRC Genk</td>
            <td>10</td>
            <td>52</td>
          </tr>
          <tr>
            <td>2</td>
            <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/club-brugge-kv-20160908145124.png"
                     alt=""></td>
            <td>Club Brugge KV</td>
            <td>10</td>
            <td>50</td>
          </tr>
          <tr>
            <td>3</td>
            <td><img class="club-icon"
                     src="https://cms.kaagent.be/uploads/teams/logo/r-standard-de-lige-20160908145420.png" alt=""></td>
            <td>R Standard de Liège</td>
            <td>10</td>
            <td>40</td>
          </tr>
          <tr>
            <td>4</td>
            <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/r-antwerp-fc-20170616150913.png"
                     alt=""></td>
            <td>R Antwerp FC</td>
            <td>10</td>
            <td>39</td>
          </tr>
          <tr class="highlight">
            <td>5</td>
            <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/kaa-gent-20160909091509.png"
                     alt=""></td>
            <td>KAA Gent</td>
            <td>10</td>
            <td>35</td>
          </tr>
          <tr>
            <td>6</td>
            <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/rsc-anderlecht-20160908145106.png"
                     alt=""></td>
            <td>RSC Anderlecht</td>
            <td>10</td>
            <td>32</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h3 class="text-center mt-5 mb-3">Last Game</h3>
    <div id="last-game" class="row">
      <div class="col">
        <p>
          <img class="club-icon-game" src="https://cms.kaagent.be/uploads/teams/logo/kaa-gent-20160909091509.png"
               alt="">
          <figcaption>KAA Gent</figcaption>
        </p>
      </div>
      <div class="col">
        <p>
          <span>2 - 1</span>
        </p>
      </div>
      <div class="col">
        <p>
          <img class="club-icon-game" src="https://cms.kaagent.be/uploads/teams/logo/rsc-anderlecht-20160908145106.png"
               alt="">
          <figcaption>RSC Anderlecht</figcaption>
        </p>
      </div>
    </div>

    <h3 class="text-center mt-5 mb-3">Post Game Reactions</h3>
    <div id="reactions" class="row ">
      <div class="col">
        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner text-light">
            <div class="carousel-item active">
              <p>
                Verdiende overwinning en een overtuigende prestatie van ons"
                <span class="d-block text-right mt-4">- Thomas Kaminski</span>
              </p>
            </div><!-- .carousel-item -->

            <div class="carousel-item">
              <p>
                We hebben gekregen waar we de afgelopen weken hard voor hebben gewerkt. Daar waar het niet meezat
                tijdens deze Play-Offs hebben we het in de laatste wedstrijden wel over de streep getrokken, en
                verdiend!"
                <span class="d-block text-right mt-4">- Jess Thorup</span>
              </p>
            </div><!-- .carousel-item -->

            <div class="carousel-item">
              <p>
                Leuk die vier goals in drie wedstrijden, maar de teamprestatie staat nu voorop."
                <span class="d-block text-right mt-4">- Jonathan David</span>
              </p>
            </div><!-- .carousel-item -->

          </div><!-- .carousel-inner -->
        </div><!-- .carousel -->
      </div>
    </div>
  </div>

</aside>

