/*** Add your styles here **/

body {
    background-color: #fafafa;
}

h2 {
    font-size: 1.2em;
}

h2 span {
    font-size: 2em;
}

h2, h3 {
    font-family: 'Lato', sans-serif;
    color: black;
    line-height: 1.2em;
}

h2 span, h3 span {
    font-family: 'Italianno', cursive;
    display: block;
    color: #e082a8;
}

h3 {
    font-size: 1em;
}

h3 span {
    font-size: 1.5em;
}


/** Social Media Icons **/

.socials ul {
    list-style: none;
}

.socials ul li {
    position: relative;
    display: inline-block;
}

.socials ul li a::before {
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    padding: 0 .4rem;
    content: '\f08e';
    color: #e082a8;
    -webkit-font-smoothing: antialiased;
    font-size: 2rem;
}

.socials ul li a[href*="facebook.com"]::before {
    content: '\f082';
}

.socials ul li a[href*="twitter.com"]::before {
    content: '\f081';
}


.socials ul li a[href*="instagram.com"]::before {
    content: '\f16d';
}


.socials ul li a[href*="pinterest.com"]::before {
    content: '\f0d2';
}


.socials ul li a[href*="youtube.com"]::before {
    content: '\f167';
}



/** Navigation **/
.navigation {
    background-color: #8ed3cc;
}

.bg-faded {
    background-color: transparent;
}

.navbar-toggler {
    background-color: #fff;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.navbar-light .navbar-brand:hover {
    color: #fff;
}

.flex-sm-row {
    width: 100%;
}

nav.main-nav {
    background-image: url("../img/border_horizontal.png"),
                        url("../img/border_horizontal.png");
    background-repeat: repeat-x;
    background-position: 0px top, 0px bottom;
}

nav.main-nav .nav-item {
    transition: background-color .3s ease;
}

nav.main-nav .nav-item:hover {
    background-color: #39a69b;
    border-radius: 10px;
}

nav.main-nav .nav-link {
    font-size: 1.4em;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

/** Carousel **/

.carousel .carousel-caption h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    font-weight:  700;
    color: #ffffff;
}

/** New Site**/
.new-website p {
    color: #979797;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
}

/** Image Links **/

.image-links img {
    border: 6px solid white;
    -webkit-transition: transform .3s ease;
    -ms-transition: transform .3s ease;
    transition: transform .3s ease;
}

.image-info {
    background-color: #ffffff;
    margin-top: -50px;
}

.image-info .btn-success {
    background-color: #e082a8;
    border-radius: 0;
    border: none;
}

.image-info .btn-success:hover {
    background-color: #ca5b88;
}

.image-links img:hover {
    -webkit-transform: scale(1.2)  rotate(10deg);
    -ms-transform: scale(1.2)  rotate(10deg);
    transform: scale(1.2) rotate(10deg);
}

/** Hours**/

.business-hours {
    background-color: #8ed3cc;
    color: #ffffff;
}

.business-hours h2 {
    color: #ffffff;
}

.bg-hours {
    background-image: url(../img/bg_hours.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}

.table {
    border: 2px solid #e082a8;
}

.table td, .table th {
    border: none;
}

.table tbody tr td {
    padding: 0.70em;
}

.table-danger, .table-hover .table-danger:hover {
    background-color: #e082a8;
}

/** Products **/

.products .card {
    border: none;
}

.products .card a {
    color: #000
}

.products .card a:hover {
    text-decoration: none;
}

.products .card h3 {
    font-size: 1.3rem;
    color: #e082a8;
}

.products .card p {
    font-size: .8rem;
}

.products .card p.price {
    font-family: 'Lato', sans-serif;
    color: #979797;
}

/** Appointment **/

.appointment {
    background-image: url("../img/bg_appointment.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
}

@media (min-width: 992px) {
    .appointment {
        background-size: cover;
    }
}

.appointment h3 {
    font-size: 3.5rem;
    color: #ffffff;
    line-height: 4rem;
}

.appointment p {
    line-height: 2.6rem;

}

.appointment .btn-primary {
    background-color: #8ed3cc;
    border: none;
    border-radius: 0;
    padding: 1rem 5rem;
    font-family: 'Lato', sans-serif;
}

.appointment .btn-primary:hover {
    background-color: #68bebc;
}


/** Footer **/

.site-footer p.copyright {
    font-family: 'Lato', sans-serif;
    color: #979797;
}

/** Internal Pages **/

/** About Us **/


.hero {
    position: relative;
}

.hero h2 {
    background-color: #8ed3cc;
    position: absolute;
    bottom: 2rem;
    right: 0;
    padding: 1rem 2rem 1rem 6rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: #fff;
}

.main-content p {
    line-height: 2rem;
}

.sidebar.hours {
    background-color: #8ed3cc;
    color: #fff;
}

.sidebar.hours h2 {
    color: #fff;
}

.sidebar.hours p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

/** Services **/

#services .card-header {
    background-color: #e082a8;
}

#services .card-header h3, a {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
}

#services .card-block {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

aside.discount,
aside.prodDescription {
    background-color: #8ed3cc;
    color: #fff;
    -moz-background-clip: content-box;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

aside.discount h3,
aside.prodDescription h3 {
    color: #fff;
}

aside.discount .coupon {
    border: 2px dashed white;
}

aside.discount .coupon p {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

aside.discount .coupon p span {
    display: block;
}

.price {
    font-size: 2rem;
}

/** Contact **/

.contact-form {
    border: 2px solid #989898;
    background-color: #ffff;
}

.contact-form .btn-primary {
    background-color: #8ed3cc;
    border: none;
    border-radius: 0;
    padding: 1rem 6rem;
}

.contact-form .btn-primary:hover {
    cursor: pointer;
    background-color: #6bbdb5;
}