<div class="container-fluid my-5 text-center text-uppercase">

  <h2 class="mb-5">Jupiler Pro League</h2>

  <div class="row justify-content-md-center justify-content-sm-start table-hover">
    <div class="col-lg-8 col-md-6 col-sm-3">

      <table class="table">
        <thead>
        <tr>
          <th>Stand</th>
          <th></th>
          <th>Team</th>
          <th>M</th>
          <th>M+</th>
          <th>M=</th>
          <th>M-</th>
          <th>D+</th>
          <th>D-</th>
          <th>D+/-</th>
          <th>PTN</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/krc-genk-20160908145158.png" alt="">
          </td>
          <td>KRC Genk</td>
          <td>30</td>
          <td>18</td>
          <td>9</td>
          <td>3</td>
          <td>63</td>
          <td>31</td>
          <td>32</td>
          <td><strong>63</strong></td>
        </tr>
        <tr>
          <td>2</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/club-brugge-kv-20160908145124.png"
                   alt=""></td>
          <td>Club Brugge KV</td>
          <td>30</td>
          <td>16</td>
          <td>8</td>
          <td>6</td>
          <td>64</td>
          <td>32</td>
          <td>32</td>
          <td><strong>56</strong></td>
        </tr>
        <tr>
          <td>3</td>
          <td><img class="club-icon"
                   src="https://cms.kaagent.be/uploads/teams/logo/r-standard-de-lige-20160908145420.png" alt=""></td>
          <td>R Standard de Liege</td>
          <td>30</td>
          <td>15</td>
          <td>8</td>
          <td>7</td>
          <td>49</td>
          <td>35</td>
          <td>14</td>
          <td><strong>53</strong></td>
        </tr>
        <tr>
          <td>4</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/rsc-anderlecht-20160908145106.png"
                   alt=""></td>
          <td>RSC Anderlecht</td>
          <td>30</td>
          <td>15</td>
          <td>6</td>
          <td>9</td>
          <td>49</td>
          <td>34</td>
          <td>15</td>
          <td><strong>51</strong></td>
        </tr>
        <tr class="highlight">
          <td>5</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/kaa-gent-20160909091509.png" alt="">
          </td>
          <td>KAA Gent</td>
          <td>30</td>
          <td>15</td>
          <td>5</td>
          <td>10</td>
          <td>53</td>
          <td>45</td>
          <td>8</td>
          <td><strong>50</strong></td>
        </tr>
        <tr>
          <td>6</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/r-antwerp-fc-20170616150913.png"
                   alt=""></td>
          <td>R Antwerp FC</td>
          <td>30</td>
          <td>14</td>
          <td>7</td>
          <td>9</td>
          <td>39</td>
          <td>34</td>
          <td>5</td>
          <td><strong>49</strong></td>
        </tr>
        <tr>
          <td>7</td>
          <td><img class="club-icon"
                   src="https://cms.kaagent.be/uploads/teams/logo/k-sint-truidense-vv-20160908145327.png" alt=""></td>
          <td>K Sint Truidense VV</td>
          <td>30</td>
          <td>12</td>
          <td>11</td>
          <td>7</td>
          <td>47</td>
          <td>36</td>
          <td>11</td>
          <td><strong>47</strong></td>
        </tr>
        <tr>
          <td>8</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/kv-kortrijk-20160908145218.png"
                   alt=""></td>
          <td>KV Kortrijk</td>
          <td>30</td>
          <td>12</td>
          <td>7</td>
          <td>11</td>
          <td>44</td>
          <td>42</td>
          <td>2</td>
          <td><strong>43</strong></td>
        </tr>
        <tr>
          <td>9</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/r-charleroi-sc-20160908145141.png"
                   alt=""></td>
          <td>R Charleroi SC</td>
          <td>30</td>
          <td>12</td>
          <td>6</td>
          <td>12</td>
          <td>43</td>
          <td>43</td>
          <td>0</td>
          <td><strong>42</strong></td>
        </tr>
        <tr>
          <td>10</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/r-excel-mouscron-20160908143448.png"
                   alt=""></td>
          <td>R Excel Mouscron</td>
          <td>30</td>
          <td>11</td>
          <td>7</td>
          <td>12</td>
          <td>33</td>
          <td>33</td>
          <td>0</td>
          <td><strong>40</strong></td>
        </tr>
        <tr>
          <td>11</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/sv-zulte-waregem-20160908145509.png"
                   alt=""></td>
          <td>SV Zulte-Waregem</td>
          <td>30</td>
          <td>8</td>
          <td>9</td>
          <td>13</td>
          <td>49</td>
          <td>60</td>
          <td>-11</td>
          <td><strong>33</strong></td>
        </tr>
        <tr>
          <td>12</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/kas-eupen-20160908145525.png"
                   alt=""></td>
          <td>KAS Eupen</td>
          <td>30</td>
          <td>10</td>
          <td>2</td>
          <td>18</td>
          <td>34</td>
          <td>57</td>
          <td>-23</td>
          <td><strong>32</strong></td>
        </tr>
        <tr>
          <td>13</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/cercle.png" alt=""></td>
          <td>Cercle Brugge KSV</td>
          <td>30</td>
          <td>7</td>
          <td>7</td>
          <td>16</td>
          <td>35</td>
          <td>59</td>
          <td>-24</td>
          <td><strong>28</strong></td>
        </tr>
        <tr>
          <td>14</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/kv-oostende-20160908145552.png"
                   alt=""></td>
          <td>KV Oostende</td>
          <td>30</td>
          <td>6</td>
          <td>9</td>
          <td>15</td>
          <td>29</td>
          <td>52</td>
          <td>-23</td>
          <td><strong>27</strong></td>
        </tr>
        <tr>
          <td>15</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/waasland-beveren-20160908145616.png"
                   alt=""></td>
          <td>Waasland-Beveren</td>
          <td>30</td>
          <td>5</td>
          <td>12</td>
          <td>13</td>
          <td>37</td>
          <td>50</td>
          <td>-13</td>
          <td><strong>27</strong></td>
        </tr>
        <tr>
          <td>16</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/lokeren-20160908145245.png" alt="">
          </td>
          <td>KSC Lokeren</td>
          <td>30</td>
          <td>5</td>
          <td>5</td>
          <td>20</td>
          <td>28</td>
          <td>53</td>
          <td>-25</td>
          <td><strong>20</strong></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
