<main>

  <h2 class="mb-5 text-center text-uppercase">News</h2>

  <div class="container-fluid">
    <div class="row d-inline-flex">
      <div *ngFor="let article of articles; let i = index;"
           class="col-6 col-md-6 col-sm-12 mb-5 mb-md-0 article-card text-decoration-none">

        <div *ngIf="i > 2" class="card mb-4 text-center text-uppercase">
          <a (click)="navigateToArticle(i)" routerLinkActive="active">
            <img [src]="sanitizer.bypassSecurityTrustResourceUrl(article.headerImage)" class="img-fluid card-img-top">
            <div class="card-block">
              <h3 class="card-title my-3">{{ article.title }}</h3>
              <div [innerHTML]="article.content | slice:0:175 | dotting" class="card-text mx-5"></div>
            </div>
          </a>
        </div> <!-- .card -->

      </div><!-- col 6 col-md-3 -->
    </div>
  </div>

</main>

