/**
======================================
ARTICLE CARDS
======================================
**/

.card {
  font-family: 'Chivo', sans-serif;
}

.card-title {
  font-size: 1.5rem!important;
  font-weight: 700!important;
  color: #0b2d61!important;
}

.card-text {
  font-size: 1rem;
  font-weight: 500;
}

.card a {
  color: #0b2d61;
}

.card a:hover {
  text-decoration: none;
}

.article-card:nth-child(-n+3)  {
  display: none;
}

.card:hover {
  background-color: #0b2d61;
  -webkit-transition: all ease-in .5s;
  -moz-transition: all ease-in .5s;
  -ms-transition: all ease-in .5s;
  -o-transition: all ease-in .5s;
  transition: all ease-in .5s;
}

.card:hover .card-text,
.card:hover .card-title {
  color: white!important;
  -webkit-transition: all ease-in .5s!important;
  -moz-transition: all ease-in .5s!important;
  -ms-transition: all ease-in .5s!important;
  -o-transition: all ease-in .5s!important;
  transition: all ease-in .5s!important;
}

.card:hover img {
  opacity: 0.6;
  -webkit-transition: all ease-in .5s;
  -moz-transition: all ease-in .5s;
  -ms-transition: all ease-in .5s;
  -o-transition: all ease-in .5s;
  transition: all ease-in .5s;
}
