/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: 'Chivo', sans-serif;
  font-family: 'Sunflower', sans-serif;
}

body {
  overflow-x: hidden;
}


/**
======================================
WEBSITE MAIN CSS
======================================
**/

.container-fluid {
  font-family: 'Sunflower', sans-serif;
  font-size: 1.5rem;
}

h2, h3 {
  font-family: 'Chivo', sans-serif;
}

h2 {
  font-weight: 900!important;
  font-size: 2.8rem!important;
  color: #0b2d61!important;
}

h3 {
  font-weight: 700!important;
  font-size: 2rem!important;
  color: white!important;
}


/**
======================================
CLUB LOGO SMALL (HOME->ASIDE & COMPETITION COMPONENTS)
======================================
**/

.club-icon {
  width: 20px;
  height: 20px;
}

.club-icon-game {
  width: 40px;
  height: 40px;
}


/**
======================================
FORM MAIN CSS
======================================
**/

input[type='text'],
input[type='number'],
input[type='date'],
input[type='email'],
input[type='password'],
#position {
  border: 2px solid #0b2d61;
}

input[type='text']::placeholder,
input[type='number']::placeholder,
input[type='date']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder,
textarea::placeholder,
input[type='date'],
#position {
  color: #0b2d61;
  text-transform: uppercase;
}

input:hover {
  border: 2px solid white;
  -webkit-transition: all ease-in .3s;
  -moz-transition: all ease-in .3s;
  -ms-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

input.btn-primary {
  background-color: #0b2d61;
  border: none;
}

input.btn-primary:disabled {
  background-color: #0b2d61;
  border: none;
}

input.btn-primary:hover {
  background-color: white;
  border: 1px solid #0b2d61;
  color: #0b2d61;
  -webkit-transition: all ease-in .3s;
  -moz-transition: all ease-in .3s;
  -ms-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
}


/**
======================================
SIGN UP/SIGN IN - BACKGROUND
======================================
**/

#contact_form {
  margin-top: 20rem!important;
}

#contact_form {
  background-color: rgba(11,45,97, .8);
  border-radius: 5px;
}


/**
======================================
FORM VALIDATION
======================================
**/

.ng-invalid.ng-touched:not(form)  {
  border: 2px solid red;
  -webkit-transition: all ease-in .5s;
  -moz-transition: all ease-in .5s;
  -ms-transition: all ease-in .5s;
  -o-transition: all ease-in .5s;
  transition: all ease-in .5s;
}

.ng-valid.ng-touched:not(form)  {
  border: 2px solid lawngreen;
  -webkit-transition: all ease-in .5s;
  -moz-transition: all ease-in .5s;
  -ms-transition: all ease-in .5s;
  -o-transition: all ease-in .5s;
  transition: all ease-in .5s;
}
