:root {
    --primary: #8bc34a;
    --secondary: #03a9f4;
    --alternative: #ab47bc;
    --yellow: #ffb300;
    --gray: #ecf0f5;
    --darkblue: #25476a;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.h-100 {
    min-height: 100vh!important;
}

.bg-primary,
.btn-primary {
    background-color: #03a9f4!important;
}


.bg-success,
.btn-success {
    background-color: #8bc34a!important;
}

body.login {
    background-image: url("../img/books.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body.login .content {
    -webkit-box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.6);
    box-shadow: 0px 9px 25px -5px rgba(0,0,0,0.6);

    border-radius: 10px;
}

.bd-navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

aside {
    width: 260px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 900;
}

.nav-item.active {
    background-color: #03a9f4;
}

.nav .nav-item.active {
    color: black!important;
}

main {
    position: relative;
    left: 0;
    margin-left: 260px;
    min-height: 100%;
}

.new-client-btn {
    height: 7.5rem;
}

.new-client-btn p {
    margin: 0;
}

.new-client-btn i {
    font-size: 3rem;
}

.new-client-btn a:hover {
    text-decoration: none;
    color: white!important;
}

