<div class="container-fluid img-fluid">
  <div class="row justify-content-end text-uppercase text-light">
    <div class="col-md-6">

      <form id="contact_form" (ngSubmit)="onSignUp(f)" #f="ngForm" class=" p-5">

        <h2 class="text-light">Sign Up</h2>

        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Your Email" required
                 email>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Your Password"
                 required password>
        </div>

        <input [disabled]="!f.form.valid" class="btn btn-primary text-uppercase p-3" type="submit" name="submit"
               value="Sign Up">

        <div class="text-success mt-3 font-weight-normal"><p>{{ signUpSuccess }}</p></div>

      </form>

    </div>
  </div>
</div>
