.container-fluid {
  background-image: url("https://cms.kaagent.be/uploads/album_pictures/image/44341-20190317205623.jpg");
  height: 60rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h2 {
  font-size: 2.2rem!important;
}
