/**
======================================
DEFENDERS SECTION MAIN CSS (TEAM)
======================================
**/

h3 {
  color: #0b2d61!important;
}

h3:hover {
  opacity: 0.8;
}

.shirtNr {
  font-size: 1.5rem;
  font-weight: 500;
}


/**
======================================
DEFENDERS SECTION CARD CSS (TEAM)
======================================
**/

.card-title {
  font-family: 'Sunflower', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.card a {
  color: #0b2d61;
}

.card:hover {
  background-color: #0b2d61;
  -webkit-transition: all ease-in .5s;
  -moz-transition: all ease-in .5s;
  -ms-transition: all ease-in .5s;
  -o-transition: all ease-in .5s;
  transition: all ease-in .5s;
}

.card:hover .card-title,
.card:hover .shirtNr {
  color: #ffffff!important;
  -webkit-transition: all ease-in .5s!important;
  -moz-transition: all ease-in .5s!important;
  -ms-transition: all ease-in .5s!important;
  -o-transition: all ease-in .5s!important;
  transition: all ease-in .5s!important;
}

.card:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all ease-in .5s;
  -moz-transition: all ease-in .5s;
  -ms-transition: all ease-in .5s;
  -o-transition: all ease-in .5s;
  transition: all ease-in .5s;
}
