<section class="mb-3">
  <h3 class="mb-5 text-center text-uppercase">Aanvallers</h3>
  <div class="container-fluid w-75">
    <div class="row d-inline-flex">
      <div *ngFor="let attacker of attackers; let i = index;"
           class="col-lg-3 col-md-4 col-sm-6 article-card text-decoration-none">
        <div class="card mb-4 text-center text-uppercase border-0">
          <a data-toggle="modal" attr.data-target="#player3-{{ i }}" class="text-decoration-none">
            <img [src]="sanitizer.bypassSecurityTrustResourceUrl(attacker.image)" class="img-fluid card-img-top mb-3">
            <div class="card-block">
              <h3 class="card-title my-3">{{ attacker.name }}</h3>
              <p><span class="shirtNr">{{ attacker.shirtNr }}</span></p>
            </div>
          </a>
        </div> <!-- .card -->
      </div><!-- col 6 col-md-3 -->
    </div>
  </div>
</section>
<app-player-details *ngFor="let attacker of attackers; let j = index;" [attackers]="attacker" [index]="j"
                    [typeOfPlayer]="3"></app-player-details>
