<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Adding a component to the project</h1>
      <hr>
      <!--<app-servers></app-servers>-->
      <div app-servers></div>
    </div>
  </div>
</div>
