<!-- Start Article Pop-up (image of main slider clicked) -->

<div class="modal fade" attr.id="player{{ typeOfPlayer }}-{{ index }}" tabindex="-1" role="dialog"
     attr.aria-labelledby="exampleModalLabel{{ typeOfPlayer }}-{{ index }}" aria-hidden="true"
     [ngSwitch]="typeOfPlayer">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="article">
    <div class="modal-content text-center">


      <div class="modal-header text-uppercase">
        <h3 *ngSwitchCase="0" class="modal-title w-100" attr.id="exampleModalLabel0-{{ index }}">{{ keepers.name }}</h3>
        <h3 *ngSwitchCase="1" class="modal-title w-100" attr.id="exampleModalLabel1-{{ index }}">{{ defenders.name
          }}</h3>
        <h3 *ngSwitchCase="2" class="modal-title w-100" attr.id="exampleModalLabel2-{{ index }}">{{ midfielders.name
          }}</h3>
        <h3 *ngSwitchCase="3" class="modal-title w-100" attr.id="exampleModalLabel3-{{ index }}">{{ attackers.name
          }}</h3>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div data-simplebar class="modal-body p-5">
        <div class="container-fluid">
          <div class="row text-uppercase">
            <div class="col">
              <img *ngSwitchCase="0" [src]="sanitizer.bypassSecurityTrustResourceUrl(keepers.image)" alt=""
                   class="img-fluid">
              <img *ngSwitchCase="1" [src]="sanitizer.bypassSecurityTrustResourceUrl(defenders.image)" alt=""
                   class="img-fluid">
              <img *ngSwitchCase="2" [src]="sanitizer.bypassSecurityTrustResourceUrl(midfielders.image)" alt=""
                   class="img-fluid">
              <img *ngSwitchCase="3" [src]="sanitizer.bypassSecurityTrustResourceUrl(attackers.image)" alt=""
                   class="img-fluid">

              <h3 class="my-5">Info</h3>

              <div *ngSwitchCase="0">

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Contract</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ keepers.contract }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Shirt Nr.</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ keepers.shirtNr }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="text-left">Nationaliteit</p>
                  </div>
                  <div class="col-6 text-right">
                    <p class="text-right">{{ keepers.nationality }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Geboortedatum</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ keepers.dateOfBirth }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Geboorteplaats</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ keepers.placeOfBirth }}</p>
                  </div>
                </div>
              </div>

              <div *ngSwitchCase="1">

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Contract</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ defenders.contract }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Shirt Nr.</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ defenders.shirtNr }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="text-left">Nationaliteit</p>
                  </div>
                  <div class="col-6 text-right">
                    <p class="text-right">{{ defenders.nationality }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Geboortedatum</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ defenders.dateOfBirth }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Geboorteplaats</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ defenders.placeOfBirth }}</p>
                  </div>
                </div>
              </div>


              <div *ngSwitchCase="2">

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Contract</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ midfielders.contract }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Shirt Nr.</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ midfielders.shirtNr }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="text-left">Nationaliteit</p>
                  </div>
                  <div class="col-6 text-right">
                    <p class="text-right">{{ midfielders.nationality }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Geboortedatum</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ midfielders.dateOfBirth }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Geboorteplaats</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ midfielders.placeOfBirth }}</p>
                  </div>
                </div>
              </div>


              <div *ngSwitchCase="3">

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Contract</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ attackers.contract }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Shirt Nr.</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ attackers.shirtNr }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="text-left">Nationaliteit</p>
                  </div>
                  <div class="col-6 text-right">
                    <p class="text-right">{{ attackers.nationality }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Geboortedatum</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ attackers.dateOfBirth }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p>Geboorteplaats</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ attackers.placeOfBirth }}</p>
                  </div>
                </div>
              </div>

              <h3 class="my-5">Statistieken</h3>

              <div *ngSwitchCase="0">

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="games"> Wedstrijden</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ keepers.games }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="playtime"> Speeltijd</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ keepers.playtime }} minuten</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="goals"> Tegengoals</p>
                  </div>
                  <div class="col-6 text-right">
                    <p class="text-right">{{ keepers.goals }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="cleanSheets"> Clean Sheets</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ keepers.cleanSheets }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="yellowCards">Gele kaarten</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ keepers.yellowCards }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="redCards">Rode kaarten</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ keepers.redCards }}</p>
                  </div>
                </div>
              </div>

              <div *ngSwitchCase="1">

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="games"> Wedstrijden</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ defenders.games }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="playtime"> Speeltijd</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ defenders.playtime }} minuten</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="goals"> Goals</p>
                  </div>
                  <div class="col-6 text-right">
                    <p class="text-right">{{ defenders.goals }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="assists"> Assists</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ defenders.assists }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="yellowCards">Gele kaarten</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ defenders.yellowCards }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="redCards">Rode kaarten</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ defenders.redCards }}</p>
                  </div>
                </div>
              </div>


              <div *ngSwitchCase="2">

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="games"> Wedstrijden</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ midfielders.games }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="playtime"> Speeltijd</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ midfielders.playtime }} minuten</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="goals"> Goals</p>
                  </div>
                  <div class="col-6 text-right">
                    <p class="text-right">{{ midfielders.goals }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="assists"> Assists</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ midfielders.assists }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="yellowCards">Gele kaarten</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ midfielders.yellowCards }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="redCards">Rode kaarten</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ midfielders.redCards }}</p>
                  </div>
                </div>
              </div>

              <div *ngSwitchCase="3">

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="games"> Wedstrijden</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ attackers.games }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="playtime"> Speeltijd</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ attackers.playtime }} minuten</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="goals"> Goals</p>
                  </div>
                  <div class="col-6 text-right">
                    <p class="text-right">{{ attackers.goals }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="assists"> Assists</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ attackers.assists }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="yellowCards">Gele kaarten</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ attackers.yellowCards }}</p>
                  </div>
                </div>

                <hr>
                <div class="row row-grid">
                  <div class="col-6 text-left">
                    <p class="redCards">Rode kaarten</p>
                  </div>
                  <div class="col-6 text-right">
                    <p>{{ attackers.redCards }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->
