/**
======================================
PLAYER DETAILS MAIN CSS (TEAM)
======================================
**/

::-webkit-scrollbar {
  display: none;
}

h3 {
  color: #0b2d61!important;
}


/**
======================================
PLAYER DETAILS MODAL (TEAM)
======================================
**/

.modal {
  font-family: 'Sunflower', sans-serif;
  color: #0b2d61;
}

.text-left {
  font-weight: 700;
  font-size: 1.1rem;
}

.text-right {
  font-weight: 500;
  font-size: 1.1rem;
}

.close span {
  color: #0b2d61;
  font-size: 2.5rem;
}


/**
======================================
PLAYER DETAILS ICONS (TEAM)
======================================
**/

.games::before {
  content: url(../../../img/games.png);
  filter: invert(11%) sepia(65%) saturate(3344%) hue-rotate(210deg) brightness(85%) contrast(92%);
}

.playtime::before {
  content: url(../../../img/playtime.png);
  filter: invert(11%) sepia(65%) saturate(3344%) hue-rotate(210deg) brightness(85%) contrast(92%);
}

.cleanSheets::before {
  content: url(../../../img/clean_sheets.png);
  filter: invert(11%) sepia(65%) saturate(3344%) hue-rotate(210deg) brightness(85%) contrast(92%);
}

.goals::before {
  content: url(../../../img/goals.png);
  filter: invert(11%) sepia(65%) saturate(3344%) hue-rotate(210deg) brightness(85%) contrast(92%);
}

.assists::before {
  content: url(../../../img/assists.png);
  filter: invert(11%) sepia(65%) saturate(3344%) hue-rotate(210deg) brightness(85%) contrast(92%);
}

.yellowCards::before {
  content: url(../../../img/yellow_card.png);
  filter: invert(11%) sepia(65%) saturate(3344%) hue-rotate(210deg) brightness(85%) contrast(92%);
}

.redCards::before {
  content: url(../../../img/red_card.png);
  filter: invert(11%) sepia(65%) saturate(3344%) hue-rotate(210deg) brightness(85%) contrast(92%);
}

hr {
  border-top: 2px solid #0b2d61;
}
