/**
======================================
BACKGROUND CSS
======================================
**/

.bg-header {
  background-color: #0b2d61;
  height: 12rem;
}

@media (max-width: 768px) {
  .bg-header {
    height: 0rem;
  }
}

h3 {
  color: #0b2d61!important;
}

.container-fluid a {
  color: #0b2d61;
}

.container-fluid {
  color: #0b2d61;
}

.container-fluid a:hover {
  color: #03a9f4;
  border-bottom: .2rem solid #03a9f4;
  -webkit-transition: all ease-out .3s;
  -moz-transition: all ease-out .3s;
  -ms-transition: all ease-out .3s;
  -o-transition: all ease-out .3s;
  transition: all ease-out .3s;
  text-decoration: none;
}

.content ul {
  list-style: none!important;
}

.content {
  font-size: 1.2rem!important;
}
