<div class="container-fluid bg-header"></div>

<div class="container-fluid text-uppercase my-5" *ngFor="let article of articles; let i = index;">
  <div *ngIf="i == routeIndex">
    <div class="row justify-content-center">
      <div class="col-8">
        <p class="text-center">
          <a routerLink="/" [routerLinkActive]="active">
            <i class="fas fa-long-arrow-alt-left"></i>
            Home
          </a>
        </p>
        <h2 class="text-center mb-3">{{ article.contentTitle }}</h2>
        <img [src]="sanitizer.bypassSecurityTrustResourceUrl(article.headerImage)" class="img-fluid card-img-top">
      </div>
    </div>

    <div class="content row mt-5 justify-content-center">
      <div class="col-8">
        <div [innerHTML]="article.content"></div>
      </div>
    </div>
  </div>

</div>
<app-season-ticket-banner></app-season-ticket-banner>
