/**
======================================
FOOTER MAIN CSS
======================================
**/

#footerImage {
  height: 15rem;
  background-image: url("https://www.kaagent.be/images/footer/family.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.footer {
  background-color: #0b2d61;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
