<main>
  <h2 class="text-center mt-5 mt-md-0 mb-3">Add a New Player</h2>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="position">Position</label>
      <br>
      <select class="form-control" name="position" id="position" (change)="selectOption($event.target.value)"
              [(ngModel)]="selected" required>
        <option [value]="position.id" *ngFor="let position of positions">{{ position.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input type="text" class="form-control" ngModel id="fullName" name="fullName" placeholder="Full Name" required>
    </div>

    <div class="form-group">
      <label for="nationality">Nationality</label>
      <input type="text" class="form-control" ngModel id="nationality" name="nationality" placeholder="Nationality"
             required>
    </div>

    <div class="form-group">
      <label for="dateOfBirth">Date Of Birth</label>
      <input type="date" class="form-control" ngModel id="dateOfBirth" name="dateOfBirth" placeholder="Date Of Birth"
             required>
    </div>

    <div class="form-group">
      <label for="placeOfBirth">Place Of Birth</label>
      <input type="text" class="form-control" ngModel id="placeOfBirth" name="placeOfBirth" placeholder="Place Of Birth"
             required>
    </div>

    <div class="form-group">
      <label for="contract">Contract (ex. "2019 - 2021")</label>
      <input type="text" class="form-control" ngModel id="contract" name="contract" placeholder="Contract" required>
    </div>

    <div class="form-group">
      <label for="shirtNr">Shirt Nr.</label>
      <input type="text" class="form-control" ngModel id="shirtNr" name="shirtNr" placeholder="Shirt Nr." required>
    </div>

    <div class="form-group">
      <label for="games">Games</label>
      <input type="number" class="form-control" ngModel id="games" name="games" placeholder="Games" required>
    </div>

    <div class="form-group">
      <label for="playtime">Playtime (minutes)</label>
      <input type="number" class="form-control" ngModel id="playtime" name="playtime" placeholder="Playtime" required>
    </div>

    <div class="form-group" *ngIf="checkId()">
      <label for="cleanSheets">Clean Sheets</label>
      <input type="number" class="form-control" ngModel id="cleanSheets" name="cleanSheets" placeholder="Clean Sheets"
             required>
    </div>

    <div class="form-group">
      <label for="goals">Goals</label>
      <input type="number" class="form-control" ngModel id="goals" name="goals" placeholder="Goals" required>
    </div>

    <div class="form-group">
      <label for="assists">Assists</label>
      <input type="number" class="form-control" ngModel id="assists" name="assists" placeholder="Assists" required>
    </div>

    <div class="form-group">
      <label for="yellowCards">Yellow Cards</label>
      <input type="number" class="form-control" ngModel id="yellowCards" name="yellowCards" placeholder="Yellow Cards"
             required>
    </div>

    <div class="form-group">
      <label for="redCards">Red Cards</label>
      <input type="number" class="form-control" ngModel id="redCards" name="redCards" placeholder="Red Cards" required>
    </div>

    <div class="form-group">
      <label for="imageLink">Link to Player Image</label>
      <input type="text" class="form-control" ngModel id="imageLink" name="imageLink" placeholder="Link to Player Image"
             required>
    </div>

    <input [disabled]="!f.form.valid" class="btn btn-primary text-uppercase p-3" type="submit" name="submit"
           value="Add Player">
  </form>
</main>
