<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-hedaer">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="#test1" (click)="onSelect('recipe')">Recipes</a></li>
        <li><a href="#test2" (click)="onSelect('shopping-list')">Shopping List</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
