<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Animations</h1>
      <button class="btn btn-primary" style="margin-left: 5px" (click)="onAnimate()">Animate!</button>
      <button class="btn btn-primary" style="margin-left: 5px" (click)="onShrink()">Shrink!</button>
      <hr>
      <div [@divState]="state" style="width: 100px; height: 100px;" (@divState.start)="animationStarted($event)" (@divState.done)="animationEnded($event)"></div>
      <hr>
      <div [@wildState]="wildState" style="width: 100px; height: 100px;"></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <input type="text" #input>
      <button class="btn btn-primary"  style="margin-left: 5px" (click)="onAdd(input.value)">Add Item!</button>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          [@list1]
          (click)="onDelete(item)"
          *ngFor="let item of list">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          [@list2]
          (click)="onDelete(item)"
          *ngFor="let item of list">
          {{ item }}
        </li>
      </ul>
    </div>
</div>
