/**
======================================
TWITTER REACTIONS MAIN CSS
======================================
**/

.container-fluid {
  background-color: #0b2d61;
}

.twitter-reactions {
  font-family: 'Sunflower', sans-serif;
}
