<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 class="my-3 text-center text-light text-uppercase">Your Reactions</h2>
      <div class="elfsight-app-3893af4b-dbd2-42d8-bc62-0a1b1da922b2 text-uppercase twitter-reactions"></div>
    </div>
  </div>
</div>
