<div class="container-fluid my-5">
  <div class="row justify-content-center justify-content-md-between">
    <div class="col-md-3 col-lg-3 col-xl-3 d-none d-md-block">
      <app-news-items-aside></app-news-items-aside>
    </div>
    <div class="col-md-6 col-lg-7 col-xl-8">
      <app-news-items-cards></app-news-items-cards>
    </div>
  </div>
</div>
