<div class="container">
  <h1>Assingment 2 - Section 2 - Two-Way-Binding, String Interpolation</h1>
  <label>Username</label>
  <input type="text" class="form-control" [(ngModel)]="username">
  <p>{{ username }}</p>
  <!--<button class="btn btn-primary" [disabled]="!enableBtn" (click)="onBtnClick()">Reset username</button>-->
  <button class="btn btn-primary" [disabled]="username === ''" (click)="username = ''">Reset username</button>
</div>
