<main>
  <h2 class="text-center mt-5 mt-md-0 mb-3">Add a New Staff Member</h2>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input type="text" class="form-control" ngModel id="fullName" name="fullName" placeholder="Full Name" required>
    </div>

    <div class="form-group">
      <label for="func">Function</label>
      <input type="text" class="form-control" ngModel id="func" name="func" placeholder="Function" required>
    </div>

    <div class="form-group">
      <label for="imageLink">Link to Staff Image</label>
      <input type="text" class="form-control" ngModel id="imageLink" name="imageLink" placeholder="Link to Player Image"
             required>
    </div>

    <input [disabled]="!f.form.valid" class="btn btn-primary text-uppercase p-3" type="submit" name="submit"
           value="Add Player">
  </form>
</main>
