:root {
    --green: #00b30c;
    --gray1: #353537;
    --gray2: #eaeaeb;
    --gray3: #777777;
}
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700!important;
}

h2 {
    font-size: 3rem;
}


/** Header Scroll **/

.header-scroll {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-top: -300px;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.header-scroll.active {
    margin-top: 0;
    opacity: 1;
}

.header-scroll .nav-link {
    color: #777777;
}

.header-scroll .btn-outline-success {
    color: #00b30b;
}

.header-scroll .btn-outline-success:hover {
    color: #ffffff;
}


/** Header **/

.header {
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    min-height: 30rem;
    background-size: cover;
}

.header .nav-link {
    color: #ffffff!important;
}

.header .btn-outline-light:hover {
    color: black!important;
}


/** Search Form **/

.search-form {
    min-height: 25rem;
}

.btn-success {
    background-color: #00b30c;
}


/** Category **/

.category h3 {
    font-size: 1.4rem;
    font-weight: 400!important;
}

.category p {
    opacity: 0;
    padding-top: 30px;
    transition: all .3s ease;
    color: #999999;
}

.category:hover p {
    opacity: 1;
    padding-top: 10px;
}

.category h3::before {
    content: '';
    display: block;
    margin: 5px auto 20px auto;
    height: 1px;
    width: 60px;
    background-color: #00b30c;
    transition: width .3s ease;
}

.category:hover h3::before {
    width: 180px;
}


/** Pro **/

.bg-dark {
    background-color: #353537!important;
}


/** First Steps **/

.first-step .row div {
    flex: 0 0 calc(50% - 1rem);
}

@media (min-width: 992px) {
    .first-step .row div {
        flex: 0 0 calc(20% - 1rem);
    }
}

.first-step .description {
    height: 20rem;
    background-size: cover;
}

.logo {
    background-image: url("../img/service_1.png");
}

.wordpress {
    background-image: url("../img/service_5.png");
}

.audio {
    background-image: url("../img/service_3.png");
}

.whiteboard {
    background-image: url("../img/service_4.png");
}

.social-media {
    background-image: url("../img/service_2.png");
}

.description span {
    font-weight: 700;
    font-size: 1.2rem;
    display: block;
}

.description p {
    font-size: .9rem;
}


/** Benefits **/

@media (min-width: 768px) {
    .benefits .row {
        min-height: 15rem;
    }
}


/** Testimonials **/

.testimonials {
    background-color: #eaeaeb;
}

.testimonials .carousel {
    background-color: #ffffff;
}

.testimonials .carousel-item h4 {
    font-weight: 700;
    font-size: 1.4rem;
}

.testimonials blockquote {
    font-size: 1.8rem;
    color: #676767;
    font-style: italic;
}

.testimonials .carousel-item p {
    font-size: .8rem;
}


/** Tips **/

.card-title {
    font-size: 1.2rem;
}


/** Footer **/

.footer {
    border-top: 1px solid #eaeaeb;
}

.footer h3 {
    color: #777777;
    font-size: 1.2rem;
}

.footer .nav-link {
    color: #777777!important;
    padding: .5rem 0;
}

.footer .container-fluid {
    display: flex;
    flex-wrap: wrap;
}

.footer .widget {
    justify-content: space-between;
    flex: 0 0 calc(50% - 1rem);
    padding: 1rem;
}

@media (min-width: 768px) {
    .footer .widget {
        flex: 0 0 calc(33.3% - 1rem);
    }
}

@media (min-width: 992px) {
    .footer .widget {
        flex: 0 0 calc(20% - 1rem);
    }
}