<div class="container-fluid my-5 text-center text-uppercase">

  <h2 class="mb-5">Our Sponsors</h2>
  <div class="row d-flex flex-column justify-content-center w-100 ml-lg-5">

    <div class="col-md-12">
      <ul class="list-group list-group-horizontal-md">
        <li *ngFor="let sponsor of sponsors" class="list-group-item border-0 mb-5"><a class="img-fluid"
                                                                                      [href]="sanitizer.bypassSecurityTrustResourceUrl(sponsor.webLink)"><img
          class="img-fluid" [src]="sanitizer.bypassSecurityTrustResourceUrl(sponsor.imageLink)"></a></li>
      </ul>
    </div>

  </div>
</div>
