/**
======================================
SPONSORS MAIN CSS
======================================
**/

.list-group-item {
  width: 6rem;
}

.list-group-item:hover {
  width: 7rem;
  -webkit-transition: all ease-in .3s;
  -moz-transition: all ease-in .3s;
  -ms-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
  opacity: 0.5;
}

@media (max-width: 1080px) {
  .list-group {
    display: inline-block;
    align-items: center;
  }

  .list-group-item {
    width: 20rem;
  }

  .list-group-item:hover {
    width: 22rem;
  }
}
