.container-fluid {
  background-image: url("https://cms.kaagent.be/uploads/album_pictures/image/43779-20190120213401.jpg");
  height: 60rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
