<div class="container-fluid img-fluid"></div>
<h2 class="text-uppercase text-center my-5">Our Team</h2>
<app-team-keepers></app-team-keepers>
<app-team-defenders></app-team-defenders>
<app-team-midfielders></app-team-midfielders>
<app-team-attackers></app-team-attackers>
<app-team-staff></app-team-staff>
