/**
======================================
TEAM MAIN CSS
======================================
**/

.container-fluid {
  height: 60rem;
  background-image: url(https://cms.kaagent.be/uploads/teams/image/kaa-gent-20190103172653.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
