<div class="container-fluid img-fluid">
  <div class="row justify-content-begin text-uppercase text-light">
    <div class="col-md-6">

      <form id="contact_form" (ngSubmit)="onSignIn(f)" #f="ngForm" class="p-5">
        <h2 class="text-light">Sign In</h2>

        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Your Email" email
                 required>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Your Password"
                 required password>
        </div>

        <input [disabled]="!f.form.valid" class="btn btn-primary text-uppercase p-3" type="submit" name="submit"
               value="Sign In">

      </form>

    </div>
  </div>
</div>

