<div class="container-fluid text-center text-uppercase mt-2 mb-5">

  <h2 class="mb-4 text-center">Adresses</h2>

  <div class="row">
    <div class="col justify-content-start">

      <div class="address-block">
        <h3 class="mb-3">Communicatie</h3>
        <h4 class="text-capitalize">Patrick Lips</h4>
        <ul class=" list-group">
          <li class="list-group-item border-0 mb-5"><a href="mailto:patrick@kaagent.be">patrick@kaagent.be</a></li>
        </ul>
      </div>

      <div class="address-block">
        <h3 class="mb-3">Juridisch & Administratief</h3>
        <h4 class="text-capitalize">Sebastien Ronse</h4>
        <ul class=" list-group">
          <li class="list-group-item border-0 mb-5"><a href="mailto:admin@kaagent.be">admin@kaagent.be</a></li>
        </ul>
      </div>

      <div class="address-block">
        <h3 class="mb-3">Financiële Controle & Boekhouding</h3>
        <h4 class="text-capitalize">Olivier Degruytere</h4>
        <ul class=" list-group">
          <li class="list-group-item border-0 mb-5"><a href="mailto:olivier@kaagent.be">olivier@kaagent.be</a></li>
        </ul>
      </div>

      <div class="address-block">
        <h3 class="mb-3">Scouting KAA Gent</h3>
        <ul class=" list-group">
          <li class="list-group-item border-0 mb-5"><a href="mailto:scouting@kaagent.be">scouting@kaagent.be</a></li>
        </ul>
      </div>

      <div class="address-block">
        <h3 class="mb-3">Horeca</h3>
        <h4 class="text-capitalize"></h4>
        <ul class=" list-group">
          <li class="list-group-item border-0 mb-5"><a href="mailto:kristof@kaagent.be">kristof@kaagent.be</a></li>
        </ul>
      </div>
    </div>

    <div class="col justify-content-end">
      <div class="address-block">
        <h3 class="mb-3">Social Media</h3>
        <h4 class="text-capitalize">Xavier Louwagie</h4>
        <ul class=" list-group">
          <li class="list-group-item border-0 mb-5"><a href="mailto:xavier@kaagent.be">xavier@kaagent.be</a></li>
        </ul>
      </div>

      <div class="address-block">
        <h3 class="mb-3">Commerciële Cel</h3>
        <p>Alle vragen ivm businessformules, sponsoring (publiciteit & hospitality)</p>
        <h4 class="text-capitalize">Maxim Daveloose</h4>
        <ul class=" list-group">
          <li class="list-group-item border-0 mb-5"><a href="mailto:vip@kaagent.be">vip@kaagent.be</a></li>
        </ul>
      </div>

      <div class="address-block">
        <h3 class="mb-3">Veiligheid</h3>
        <h4 class="text-capitalize">Dirk Piens</h4>
        <ul class=" list-group">
          <li class="list-group-item border-0 mb-5"><a href="mailto:organisatie.dirk@kaagent.be">organisatie.dirk@kaagent.be</a>
          </li>
        </ul>
      </div>

      <div class="address-block">
        <h3 class="mb-3">Facility</h3>
        <h4 class="text-capitalize">Erwin Weiremans</h4>
        <ul class=" list-group">
          <li class="list-group-item border-0 mb-5"><a href="mailto:facility@kaagent.be">facility@kaagent.be</a></li>
        </ul>
      </div>

      <div class="address-block">
        <h3 class="mb-3">Webteam</h3>
        <h4 class="text-capitalize">Pieter Vantieghem</h4>
        <ul class=" list-group">
          <li class="list-group-item border-0 mb-5"><a href="mailto:webteam@kaagent.be">webteam@kaagent.be</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr class="my-5">
