/**
======================================
CONTACT ADRESSES MAIN CSS
======================================
**/

.address-block h3 {
  font-size: 1.8rem!important;
  color: #0b2d61!important;
}

.address-block:hover h3 {
  font-size: 2.1rem!important;
  -webkit-transition: all 0.5s ease-in-out!important;
  -moz-transition: all 0.5s ease-in-out!important;
  -o-transition: all 0.5s ease-in-out!important;
  -ms-transition: all 0.5s ease-in-out!important;
}

.container-fluid h4 {
  font-family: 'Chivo', sans-serif;
  font-weight: 700;
  color: #0c3290;
}

hr {
  background-color: #0b2d61;
  width: 90%;
}

.container-fluid a {
  font-weight: 300;
  font-size: 1.1rem;
  color: #0b2d61;
}

.container-fluid p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #0b2d61;
}



