<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form [formGroup]="projectForm" (ngSubmit)="onCallProject()">
        <div class="form-group">
          <label for="name">Project Name</label>
          <input type="text" id="name" class="form-control" formControlName="projectName">
        </div>
        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" id="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
          <label for="status">Project Status</label>
          <select id="status" formControlName="projectStatus">
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Create Project</button>
      </form>
    </div>
  </div>
</div>
