<div class="container-fluid my-5 text-center text-uppercase">

  <h2 class="mb-5">Play-Off 1</h2>

  <div class="row justify-content-md-center justify-content-sm-start table-hover">
    <div class="col-lg-8 col-md-6 col-sm-3">

      <table class="table">
        <thead>
        <tr>
          <th>Stand</th>
          <th></th>
          <th>Team</th>
          <th>M</th>
          <th>M+</th>
          <th>M=</th>
          <th>M-</th>
          <th>D+</th>
          <th>D-</th>
          <th>D+/-</th>
          <th>PTN</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/krc-genk-20160908145158.png" alt="">
          </td>
          <td>KRC Genk</td>
          <td>9</td>
          <td>6</td>
          <td>1</td>
          <td>2</td>
          <td>19</td>
          <td>8</td>
          <td>11</td>
          <td><strong>51</strong></td>
        </tr>
        <tr class="">
          <td>2</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/club-brugge-kv-20160908145124.png"
                   alt=""></td>
          <td>Club Brugge KV</td>
          <td>9</td>
          <td>6</td>
          <td>1</td>
          <td>2</td>
          <td>16</td>
          <td>9</td>
          <td>7</td>
          <td><strong>47</strong></td>
        </tr>
        <tr class="">
          <td>3</td>
          <td><img class="club-icon"
                   src="https://cms.kaagent.be/uploads/teams/logo/r-standard-de-lige-20160908145420.png" alt=""></td>
          <td>R Standard de Liege</td>
          <td>9</td>
          <td>4</td>
          <td>0</td>
          <td>5</td>
          <td>14</td>
          <td>16</td>
          <td>-2</td>
          <td><strong>39</strong></td>
        </tr>
        <tr class="">
          <td>4</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/r-antwerp-fc-20170616150913.png"
                   alt=""></td>
          <td>R Antwerp FC</td>
          <td>9</td>
          <td>4</td>
          <td>2</td>
          <td>3</td>
          <td>10</td>
          <td>13</td>
          <td>-3</td>
          <td><strong>39</strong></td>
        </tr>
        <tr class="highlight">
          <td>5</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/kaa-gent-20160909091509.png" alt="">
          </td>
          <td>KAA Gent</td>
          <td>10</td>
          <td>3</td>
          <td>1</td>
          <td>6</td>
          <td>10</td>
          <td>15</td>
          <td>-5</td>
          <td><strong>35</strong></td>
        </tr>
        <tr class="">
          <td>6</td>
          <td><img class="club-icon" src="https://cms.kaagent.be/uploads/teams/logo/rsc-anderlecht-20160908145106.png"
                   alt=""></td>
          <td>RSC Anderlecht</td>
          <td>10</td>
          <td>1</td>
          <td>3</td>
          <td>6</td>
          <td>8</td>
          <td>16</td>
          <td>-8</td>
          <td><strong>32</strong></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
