/**
======================================
COMPETITION TABLES
======================================
**/

table {
  color: #0b2d61;
}

.table th, .table td {
  border-top: 1px solid #0b2d61;
}

tbody tr:nth-child(2n+1) {
  background-color: #0b2d61;
  color: white;
}

.table-hover:nth-child(even) tbody tr:nth-child(even):hover td {
  background-color: #3d639e;
  opacity: 0.8;
  color: white;
}
