<div class="container-fluid img-fluid">
  <div class="row justify-content-end text-uppercase text-light">

    <main class="col-md-6 my-5 main-content">
      <h2 class="d-none text-center text-uppercase">Contact Us</h2>

      <form id="contact_form" (ngSubmit)="onSubmit(f)" #f="ngForm" class="p-5 contact-form mt-5">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" ngModel name="name" placeholder="Your Name" required>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" ngModel name="email" placeholder="Your Email" required
                 email>
        </div>

        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" name="message" id="message" ngModel rows="6" placeholder="Your Message"
                    required></textarea>
        </div>

        <input [disabled]="!f.form.valid" type="submit" class="btn btn-primary text-uppercase p-3" name="submit"
               value="Submit">

      </form>
    </main>

  </div>
</div>

<app-contact-location class="my-3"></app-contact-location>
<app-contact-adresses class="mb-3"></app-contact-adresses>
