.container-fluid {
  height: 60rem;
  background-image: url(https://cms.kaagent.be/uploads/album_pictures/image/44993-20190517002843.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
