<p [ngStyle]="{'background-color': getColor()}" [ngClass]="{online: serverStatus === 'online'}"> {{ 'Server' }} with ID {{ serverId }} is {{ getServerStatus() }} - <b>(String Interpolation code)</b></p>
