<div class="container">
      <div class="col-sm-12">
        <h1>Assignment 3 of Section 2 - Directives (ngIf, ngFor, ngClass, ngStyle)</h1>
        <!--<button class="btn btn-primary" (click)="state = !state">Display Details</button>-->
        <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
        <hr>
        <p *ngIf="state">This is a paragraph!</p>
        <div *ngFor="let logItem of log; let i = index" [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : 'transparent'}" [ngClass]="{whiteTxt: i >= 4}">{{ logItem }}</div>
      </div>
</div>
