/**
======================================
CONTACT LOCATIONS MAIN CSS
======================================
**/

.col-md-3 h3 {
  font-size: 1.8rem!important;
  color: #0b2d61!important;
}

.col-md-3:hover h3 {
  font-size: 2.1rem!important;
  -webkit-transition: all 0.5s ease-in-out!important;
  -moz-transition: all 0.5s ease-in-out!important;
  -o-transition: all 0.5s ease-in-out!important;
  -ms-transition: all 0.5s ease-in-out!important;
}

.container-fluid a {
  font-weight: 300;
  font-size: 1.1rem;
  color: #0b2d61;
}

.container-fluid p {
  font-weight: 500;
  font-size: 1.2rem;
  color: #0b2d61;
}

hr {
  background-color: #0b2d61;
  width: 90%;
}

.col-md-3:not(:last-child) {
  border-right: 1px solid #0b2d61;
}

@media (max-width: 1120px) {
  .col-md-3:not(:last-child) {
    border-right: none;
  }
}
