<div class="container-fluid text-center text-uppercase mt-3">

  <h2 class="my-4">Locations</h2>

  <div class="row d-flex flex-column flex-md-row ml-0 mb-5">

    <div class="col-md-3 mb-3">
      <h3 class="mb-3">Secretariaat</h3>
      <p>Ottergemsesteenweg Zuid 808, 9000 Gent</p>
      <br>
      <ul class="list-group">
        <li class="list-group-item border-0"><a href="tel:003293302323">T. 09 330 23 23</a></li>
        <li class="list-group-item border-0"><a href="">F. 09 330 23 80</a></li>
      </ul>
    </div>

    <div class="col-md-3 mb-3">
      <h3 class="mb-3">Commerciële Cel</h3>
      <p></p>
      <br>
      <ul class="list-group">
        <li class="list-group-item border-0"><a href="tel:003293302311">T. 09 330 23 11</a></li>
        <li class="list-group-item border-0"><a href="">F. 09 330 23 15</a></li>
      </ul>
    </div>

    <div class="col-md-3 mb-3">
      <h3 class="mb-3">Oefencomplex</h3>
      <p>
        Pers: Eikstraat 85, 9041 Oostakker<br>
        Leveranciers: François van Impelaan 54, 9041 Oostakker
      </p>
      <br>
    </div>

    <div class="col-md-3 mb-3">
      <h3 class="mb-3">Oefencomplex Jeugd</h3>
      <p>Warmoezeniersweg 8, 9000 Gent</p>
      <br>
      <ul class="list-group">
        <li class="list-group-item border-0 mb-0"><a href="tel:003292453326">T. 09 245 33 26</a></li>
        <li class="list-group-item border-0"><a href="">F. 09 221 87 04</a></li>
      </ul>
    </div>

  </div>

  <div class="row d-flex flex-column flex-md-row ml-0">

    <div class="col-md-3 mb-3">
      <h3 class="mb-3">Jeugdwerking</h3>
      <p>Franky Van den Berghe</p>
      <br>
      <ul class="list-group">
        <li class="list-group-item border-0"><a href="mailto:jeugdsite@kaagent.be">jeugdsite@kaagent.be</a></li>
      </ul>
    </div>

    <div class="col-md-3 mb-3">
      <h3 class="mb-3">Fanshop</h3>
      <p></p>
      <br>
      <ul class="list-group">
        <li class="list-group-item border-0"><a href="mailto:fanshop@kaagent.be">fanshop@kaagent.be</a></li>
        <li class="list-group-item border-0"><a href="tel:003293302360">T. 09 330 23 60</a></li>
      </ul>
    </div>

    <div class="col-md-3 mb-3">
      <h3 class="mb-3">Ticketing & Abonnementen</h3>
      <p>Alle info over ticketing & abonnementen, combiregeling, scheidsrechtersaanvragen, scoutingkaarten, e.d.</p>
      <br>
      <ul class="list-group">
        <li class="list-group-item border-0"><a href="mailto:tickets@kaagent.be">tickets@kaagent.be</a></li>
        <li class="list-group-item border-0"><a href="tel:003293302300">T. 09 330 23 00</a></li>
      </ul>
    </div>

    <div class="col-md-3 mb-3">
      <h3 class="mb-3">Algemene Info</h3>
      <p>Alle vragen waarmee u nergens anders terecht kan.</p>
      <br>
      <ul class="list-group">
        <li class="list-group-item border-0 mb-0"><a href="mailto:info@kaagent.be">info@kaagent.be</a></li>
      </ul>
    </div>

  </div>
</div>
<hr class="my-5">
