/**
======================================
HEADER MAIN CSS
======================================
**/

.header {
  position: absolute;
  z-index: 100;
}

.header .container {
  margin: 0 auto;
  max-width: inherit;
}

.header a {
  font-family: 'Chivo', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: .1rem;
  color: #ffffff;
}

.header img {
  height: 10rem;
}

.fas {
  color: white;
}

/**
======================================
MAIN NAVIGATION
======================================
**/

#nav-main .nav-link {
  text-shadow: 2px 2px 2px black;
}

#nav-main .nav-item:hover {
  border-bottom: .5rem solid #ffffff;
  -webkit-transition: all ease-out .3s;
  -moz-transition: all ease-out .3s;
  -ms-transition: all ease-out .3s;
  -o-transition: all ease-out .3s;
  transition: all ease-out .3s;
}

.header .nav-item.active {
  border-bottom: .5rem solid #ffffff;
}


/**
======================================
ACCOUNTS NAVIGATION
======================================
**/

#nav-account {
  cursor: pointer;
}

#nav-account .dropdown-menu .dropdown-item {
  color: #0b2d61;
}

#nav-account .dropdown-menu {
  border: none;
}

.dropdown {
  text-shadow: 2px 2px 2px black;
}

.dropdown .dropdown-item {
  text-shadow: none;
}

#nav-account .dropdown-menu .dropdown-item:hover {
  color: white;
  background-color: #0b2d61;
  -webkit-transition: all ease-out .3s;
  -moz-transition: all ease-out .3s;
  -ms-transition: all ease-out .3s;
  -o-transition: all ease-out .3s;
  transition: all ease-out .3s;
}


/**
======================================
MEDIA QUERIES
======================================
**/

@media (max-width: 1280px) {
  .header a {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .header {
    position: relative;
    z-index: 100;
    background-color: #0b2d61;
  }

  .dropdown {
    text-shadow: none;
  }

  #nav-main .nav-link {
    text-shadow: none;
  }
}
