<header class="header w-100">

  <nav class="navbar navbar-expand-lg">

    <div class="container m-0 w-100">
      <div
        class="row text-uppercase text-center align-items-center d-flex flex-md-row flex-column justify-content-between w-100">
        <a class="navbar-brand" routerLink="/"><img src="https://www.kaagent.be/images/logo-image.svg"
                                                    alt="Logo KAA Gent" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <div class="ml-4 ml-md-4 ml-sm-0 collapse navbar-collapse" id="navbarSupportedContent">
          <ul id="nav-main" class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
              <a routerLink="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/team" class="nav-link">Team</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/competition" class="nav-link">Competition</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/contact" class="nav-link">Contact</a>
            </li>
          </ul>
          <ul id="nav-account" class="navbar-nav justify-content-end">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                <li class="nav-link"><a class="dropdown-item" *ngIf="!isAuthenticated()" routerLink="/signup">Sign
                  Up</a></li>
                <li class="nav-link"><a class="dropdown-item" *ngIf="isAuthenticated()" routerLink="/admin">Admin</a>
                </li>
                <hr class="m-0">
                <li class="nav-link"><a class="dropdown-item" *ngIf="!isAuthenticated()" routerLink="/signin">Sign
                  In</a></li>
                <li class="nav-link"><a class="dropdown-item" *ngIf="isAuthenticated()" routerLink="/signin">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </nav>

</header>
